#urlButton, #helpMessage {
    -fx-text-fill: white;
}

#urlButton {
    -fx-background-color: dimgray;
}

#urlButton:hover {
    -fx-background-color: gray;
}

#urlButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
